@import url('https://fonts.googleapis.com/css?family=Anton|Crete+Round:400,400i|Roboto&display=swap');

#topimage {

  height: auto;
  width: auto;
  position: relative;
  
}

#topimage img {

width: 100vw;


}

#wayne {

  position: absolute;
  font-family: 'Roboto';
  color: #3aafa9;
  font-size: 400%;
  width: 100vw;
  height: 50px;
  // background-color: blue;
}
  
  body {

    background-color: #3aafa9
}

#testimonials {

  // position: relative;
  text-align: center;
  color: #17252A;
  font-family: 'Anton',sans-serif;
  font-size: 150%;
}

div h2 {

  font-family: 'Anton',sans-serif;
  text-align: center;
  font-size: 200%;
}

div p {

  font-family: 'Crete round',serif;
  color: #feffff;
}
