@import url('https://fonts.googleapis.com/css?family=Anton|Crete+Round:400,400i|Roboto&display=swap');

#topimage {

  height: auto;
  width: auto;
  position: relative;
  
}

#topimage img {

width: 100vw;


}

#wayne {

  position: absolute;
  font-family: 'Roboto';
}
  
  body {

    background-color: #3aafa9
}

#testimonials {

  // position: relative;
  text-align: center;
  color: blue;
  font-family: 'Anton',sans-serif;
}

div h2 {

  font-family: 'Anton',sans-serif;
  text-align: center;
  font-size: 200%;
}

div p {

  font-family: 'Crete round',serif;
  color: #feffff;
}
