

// #topimage {

//   height: auto;
//   width: auto;
//   position: relative;
  
// }

#topimage {

width: 100%;


}

#wayne {

  position: absolute;
  font-family: 'Nothing You Could Do', cursive;
  color: #17252a;
  font-size: 200%;
  // width: 100vw;
  height: 150px;
  background-color: blue;

display: flex;
justify-content:flex-end;
align-items: flex-end;
}
  
  body {

    background-color: #def2f1;
}



h2 {

  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 200%;
  color: #0d5e5b;
}

p {

  font-family: 'Lato', sans-serif;
  color: #2b7a78;
}

.alltestimonials{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials {

  background-color: aliceblue;
  border-radius: 30px;
  text-align: lef;
  padding: 5px 20px;
  margin: 10px 50px;
  // border: 2px;
  width: 75%;
  // display: flex;
  
}

#allportfolio{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio img{

  // background-color: aliceblue;
  // border-radius: 30px;
  // text-align: lef;
  // padding: 5px 20px;
  // margin: 10px 50px;
  // // border: 2px;
  width: 100%
  // display: flex;
  
}