.topbar {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // align-items: space-between;
    font-family: 'Lato',Open Sans, sans-serif;
    font-weight: bold;
    // font-size: 105%;
    color: #feffff;
    text-decoration: none;
    // background-color: #2b7a78;
    margin: 0px 0px;

}